# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history/
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Pods/
**/test/**
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-ttf/
.packages
.pub-cache/
.pubspec.lock

# Android related
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks

# iOS/XCode related
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/build/
**/ios/Runner.xcworkspace/
**/ios/Runner/*.h
**/ios/Runner/*.m
**/ios/Runner/GeneratedPluginRegistrant.*

# Build directories
build/

# Environment variables
.env
.env.local
.env.*.local

# Testing
coverage/

# Temporary files
*.tmp
*.temp